.App {
  text-align: center;
  background-color: #cdb4db;
  padding: 1rem;
}

.home {
  padding: 10px;
}

.card {
  background-color: #dcd5e0;
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgb(136, 133, 136);
}